<div ng-show="loading" class="row" style="width: 100%; height: 100%;position: absolute; z-index: 9999; background-color: rgba(248, 248, 248, 0.63)">
    <md-progress-circular style="position: absolute;
                                          left: 50%;
                                          top: 50%;
                                          z-index: 9999"
                          class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
</div>
<div class="row" id="body">
    <div class="custom-col-md" ng-class="{'col-anim': isEdit}">
        <div class="thumbnail"
                data-drop="true"
                style=" min-height: 220px; max-height: 220px; overflow-y: scroll"
                ng-model='selectedModules'
                jqyoui-droppable="{multiple:true}"
                add-func='addFunction'>
            <input type="text" ng-model="selectedSearch" placeholder="Filter" style="width: 100%">
            <div ng-repeat="selectedModule in selectedModules | filter: {description: selectedSearch}">
                <div class="list-group"
                     data-drag="isAdd || isEdit"
                     ng-model='selectedModuleRights[selectedModule.code]'
                     ng-show='selectedModuleRights[selectedModule.code].length !== 0'
                     drag-list="true"
                     data-jqyoui-options="{revert: 'invalid',
                                           helper: 'clone',
                                           appendTo: 'body',
                                           containment: 'window',
                                           scroll: false}"
                     jqyoui-draggable="{index: {{$index}},
                                        deepCopy : true,
                                        onStart: 'startFnc',
                                        onStop: 'stopFnc'}">
                    <div>
                        <div class="myClass md-whiteframe-z1 list-group-item btn-draggable"
                             style="border-bottom-right-radius: 0;
                                    border-bottom-left-radius: 0;
                                     background-color: #F0F0F0;
                                     border-color: #F0F0F0;">
                            {{selectedModule.description}}
                        </div>
                        <div class="md-whiteframe-z1 list-group-item btn-draggable"
                             style=" border-radius: 0px;"
                             ng-repeat="selectedModuleRight in selectedModuleRights[selectedModule.code]"
                             ng-show="selectedModuleRight.moduleRightCode"
                             data-drag="isAdd || isEdit"
                             ng-model='selectedModuleRights[selectedModule.code]'
                             data-jqyoui-options="{revert: 'invalid',
                                                   helper: 'clone',
                                                   appendTo: 'body',
                                                   containment: 'window',
                                                   scroll: false}"
                             jqyoui-draggable="{index: {{$index}},
                                                deepCopy : true,
                                                onStart: 'startFnc',
                                                onStop: 'stopFnc'}">
                            {{selectedModuleRight.moduleRightCode}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isAdd || isEdit" style=" margin: 0; padding: 0"
         class="col-md-6 animate-show">
        <div  class="thumbnail"
              style=" min-height: 220px; max-height: 220px; overflow-y: scroll"
              data-drop="true"
              ng-model='modules'
              jqyoui-droppable="{multiple:true}"
              add-func='addFunction'
                >
            <input type="text" ng-model="search" placeholder="Filter" style="width: 100%">
            <div class="list-group" ng-repeat="module in modules | filter: {description: search}">
                <div class="list-group btn-draggable"
                     data-drag="isAdd || isEdit"
                     ng-model='moduleRights[module.code]'
                     ng-show='moduleRights[module.code].length !== 0'
                     drag-list="true"
                     data-jqyoui-options="{revert: 'invalid',
                                           helper: 'clone',
                                           appendTo: 'body',
                                           containment: 'window',
                                           scroll: false}"
                     jqyoui-draggable="{index: {{$index}},
                                        deepCopy : true,
                                        onStart: 'startFnc',
                                        onStop: 'stopFnc'}">
                    <div>
                        <div class="md-whiteframe-z1 list-group-item btn-draggable"
                             style="border-bottom-right-radius: 0;
                                    border-bottom-left-radius: 0;
                                     background-color: #f0f0f0;
                                     border-color: #F0F0F0;">
                            {{module.description}}
                        </div>
                        <div class="list-group-item btn-draggable"
                             ng-repeat="moduleRight in moduleRights[module.code]"
                             ng-show="moduleRight.moduleRightCode"
                             data-drag="isAdd || isEdit"
                             ng-model='moduleRights[module.code]'
                             data-jqyoui-options="{revert: 'invalid',
                                                   helper: 'clone',
                                                   appendTo: 'body',
                                                   containment: 'window',
                                                   scroll: false}"
                             jqyoui-draggable="{index: {{$index}},
                                                deepCopy : true,
                                                onStart: 'startFnc',
                                                onStop: 'stopFnc'}">
                            {{moduleRight.moduleRightCode}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>