<div>
    <h2 translate="audits.title" class="page-title">{{'audits.title' | translate}}</h2>

    <div class="panel panel-default">
        <form class="form" role="form">
            <div class="panel-heading">
                <h4 translate="audits.filter.title">{{'audits.filter.title' | translate}}</h4>
                <p class="input-group mt10 mb0">
                    <span class="input-group-addon" translate="audits.filter.from">{{'audits.filter.from' | translate}}</span>
                    <input type="date" class="input-sm form-control" name="start" ng-model="fromDateObj" ng-change="onChangeDate()" required/>
                    <span class="input-group-addon" translate="audits.filter.to">{{'audits.filter.to' | translate}}</span>
                    <input type="date" class="input-sm form-control" name="end" ng-model="toDateObj" ng-change="onChangeDate()" required/>
                </p>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-responsive table-hover">
                    <thead>
                    <tr>
                        <th ng-click="predicate = 'timestamp'; reverse=!reverse">{{'audits.table.header.date' | translate}}</th>
                        <th ng-click="predicate = 'principal'; reverse=!reverse">{{'audits.table.header.principal' | translate}}</th>
                        <th ng-click="predicate = 'type'; reverse=!reverse">{{'audits.table.header.status' | translate}}</th>
                        <th ng-click="predicate = 'data.message'; reverse=!reverse">{{'audits.table.header.data' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="audit in audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
                        <td><span>{{audit.timestamp| date:'medium'}}</span></td>
                        <td><small>{{audit.principal}}</small></td>
                        <td>{{audit.type}}</td>
                        <td>
                            <span ng-show="audit.data.message">{{audit.data.message}}</span>
                            <span ng-show="audit.data.remoteAddress">{{'audits.table.data.remoteAddress' | translate}} {{audit.data.remoteAddress}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
