<div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="statistic-box yellow">
                <div class="bg">
                   <div id="chart"></div>
                </div>
                <div class="content">
                    <div class="pull-left">
                        <div class="number">145</div>
                        <div class="title">importuri<br>realizate</div>
                    </div>
                    <div class="pull-right">
                        <div class="change">
                            <div class="percent">+6%</div>
                            <div class="week">this week</div>
                        </div>
                        <div class="icon icon1 out"></div>
                    </div>                    
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="statistic-box red">
                <div class="bg">
                   <div id="chart2"></div>
                </div>
                <div class="content">
                    <div class="pull-left">
                        <div class="number">124</div>
                        <div class="title">exporturi<br>realizate</div>
                    </div>
                    <div class="pull-right">
                        <div class="change">
                            <div class="percent">+6%</div>
                            <div class="week">this week</div>
                        </div>
                        <div class="icon icon2"></div>
                    </div>                    
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="statistic-box blue">
                <div class="bg">
                   <div id="chart3"></div>
                </div>
                <div class="content">
                    <div class="pull-left">
                        <div class="number">24</div>
                        <div class="title">institutii<br>disponibile</div>
                    </div>
                    <div class="pull-right">
                        <div class="change">
                            <div class="percent">+6%</div>
                            <div class="week">this week</div>
                        </div>
                        <div class="icon icon3"></div>
                    </div>                    
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="statistic-box green">
                <div class="bg">
                   <div id="chart4"></div>
                </div>
                <div class="content">
                    <div class="pull-left">
                        <div class="number">48</div>
                        <div class="title">rapoarte<br>generate</div>
                    </div>
                    <div class="pull-right">
                        <div class="change">
                            <div class="percent">+6%</div>
                            <div class="week">this week</div>
                        </div>
                        <div class="icon icon4"></div>
                    </div>                    
                </div>

            </div>
        </div>                            
    </div>
    <div class="panel panel-default">
        <form class="form" role="form">
            <div class="panel-heading">
                <h4>Situatia rapoartelor</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:35%">Denumire</th>
                                <th style="width:10%">nr coloane</th>
                                <th style="width:15%">Marime</th>
                                <th style="width:35%">Progres</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="row-title">Denumirea tipului de import</p>
                                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur magna quam, nec varius massa pulvinar nec.</p>
                                </td>
                                <td>273,832</td>
                                <td>12,562 MB</td>
                                <td>
                                    <div class="progress small-homepage">
                                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                      </div>
                                    </div>
                                    <div class="progress-status"><span>65%</span> - 7,234 MB din 12,562 MB</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="row-title">Denumirea tipului de import</p>
                                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur magna quam, nec varius massa pulvinar nec.</p>
                                </td>
                                <td>273,832</td>
                                <td>12,562 MB</td>
                                <td>
                                    <div class="progress small-homepage">
                                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                      </div>
                                    </div>
                                    <div class="progress-status"><span>65%</span> - 7,234 MB din 12,562 MB</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="row-title">Denumirea tipului de import</p>
                                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur magna quam, nec varius massa pulvinar nec.</p>
                                </td>
                                <td>273,832</td>
                                <td>12,562 MB</td>
                                <td>
                                    <div class="progress small-homepage">
                                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                      </div>
                                    </div>
                                    <div class="progress-status"><span>65%</span> - 7,234 MB din 12,562 MB</div>
                                </td>
                            </tr>                                                        
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-title">Demo actiuni</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default custom visible">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Logarea in interfata
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p><span>Pasul #1</span> - He also said some things African America-n-y wasn't ready to hear.</p>
                    <p><span>Pasul #2</span> -  They want to break his legs. It's a good thi-ng he's already got that little scooter.</p>
                    <p><span>Pasul #3</span> - That was Tom Cruise, the actor. They said he was some kind of scientist.</p>
                    <p><span>Pasul #4</span> - Speaking of settling, how's Ann? Taste the 
happy, Michael!</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default custom">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Adaugarea unui job
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <p><span>Pasul #1</span> - He also said some things African America-n-y wasn't ready to hear.</p>
                    <p><span>Pasul #2</span> -  They want to break his legs. It's a good thi-ng he's already got that little scooter.</p>
                    <p><span>Pasul #3</span> - That was Tom Cruise, the actor. They said he was some kind of scientist.</p>
                    <p><span>Pasul #4</span> - Speaking of settling, how's Ann? Taste the 
happy, Michael!</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default custom">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Importul unui document
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p><span>Pasul #1</span> - He also said some things African America-n-y wasn't ready to hear.</p>
                    <p><span>Pasul #2</span> -  They want to break his legs. It's a good thi-ng he's already got that little scooter.</p>
                    <p><span>Pasul #3</span> - That was Tom Cruise, the actor. They said he was some kind of scientist.</p>
                    <p><span>Pasul #4</span> - Speaking of settling, how's Ann? Taste the 
happy, Michael!</p>
                  </div>
                </div>
              </div>
            </div>            
        </div>
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
            <div class="videoplayer">
                <img src="images/video.png" alt="">
            </div>
        </div>
    </div>    
</div>

<script>
$( document ).ready(function() {

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"), 
        height: 50, 
        series: [{
            color: '#e28800',
            data: [ 
                { x: 0, y: 12 }, 
                { x: 1, y: 49 }, 
                { x: 2, y: 16 }, 
                { x: 3, y: 30 }, 
                { x: 4, y: 8 } ]
        }]
    });

    graph.render();    

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart2"), 
        height: 50, 
        series: [{
            color: '#e28800',
            data: [ 
                { x: 0, y: 32 }, 
                { x: 1, y: 54 }, 
                { x: 2, y: 16 }, 
                { x: 3, y: 18 }, 
                { x: 4, y: 8 } ]
        }]
    });

    graph.render();

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart3"), 
        height: 50, 
        series: [{
            color: '#e28800',
            data: [ 
                { x: 0, y: 5 }, 
                { x: 1, y: 32 }, 
                { x: 2, y: 45 }, 
                { x: 3, y: 12 }, 
                { x: 4, y: 18 } ]
        }]
    });

    graph.render();

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart4"), 
        height: 50, 
        series: [{
            color: '#e28800',
            data: [ 
                { x: 0, y: 12 }, 
                { x: 1, y: 49 }, 
                { x: 2, y: 16 }, 
                { x: 3, y: 30 }, 
                { x: 4, y: 8 } ]
        }]
    });        

    graph.render();

    $('#chart svg').each(function(){  
        $(this).width($(this).find('.statistic-box').width());
    });
    $(window).on('resize', function(){
        $('#chart svg').each(function(){  
            $(this).width($(this).find('.statistic-box').width());
        });
    });
    $(".statistic-box").hover(
        function () {
            $(this).find('.icon').removeClass('out').addClass('over');
        },
        function () {
            $(this).find('.icon').removeClass('over').addClass('out');
        }
    );

    $('.panel').on('hidden.bs.collapse', function (e) {
        $(this).removeClass('visible');
    })
    $('.panel').on('show.bs.collapse', function (e) {
        $(this).addClass('visible');
    })            
});
</script>