<div class="container-fluid">
    <div id="page-login" class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="box">
                <div class="box-content">
                    <form class="form" role="form">
                        <div class="text-center">
                            <h3 class="page-header" translate="global.form.email">Reset Password</h3>
                        </div>
                        <div class="form-group">
                            <label for="email" translate="global.form.email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                                   ng-model="email">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" ng-click="recoverPassword()" translate="password.form.button">Authenticate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>