<div class="container-fluid">
    <div id="page-login" class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="box">
                <div class="box-content">
                    <form class="form" role="form">
                        <div class="text-center">
                            <h3 class="page-header" translate="global.form.newpassword">Reset Password</h3>
                        </div>
                        <div class="form-group">
                            <label for="oldPassword" translate="login.form.password">Password</label>
                            <input type="password" class="form-control" id="oldPassword" placeholder="{{'login.form.password.placeholder' | translate}}"
                                   ng-model="oldPassword">
                        </div>

                        <div class="form-group">
                            <label for="password" translate="global.form.newpassword">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                   ng-model="password">
                        </div>

                        <div class="form-group">
                            <label for="passwordConfirmation" translate="global.form.confirmpassword">Password</label>
                            <input type="password" class="form-control" id="passwordConfirmation" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                   ng-model="passwordConfirmation">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" ng-click="resetPassword()" translate="password.form.button">Authenticate</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>