<div class="row">
    <div class="col-md-3" style="margin-right: 0; padding-right: 0;">
        <div ng-show="view != 'create'"
             class="list-group" style="max-height: 500px; overflow: auto">
            <div class="md-whiteframe-z1 list-group-item"
                 style="cursor: pointer; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                 ng-repeat="module in modules"
                 ng-click="moduleSelect(module)"
                 ng-class="{active:module.isSelected}">
                {{module.description}}
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <md-input-container flex>
                            <label>Permission Code</label>
                            <input ng-model="selectedModule.code">
                        </md-input-container>
                    </div>
                    <div class="col-md-6">
                        <md-input-container flex>
                            <label>Permission Description</label>
                            <input ng-model="selectedModule.description">
                        </md-input-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" layout="column" style="height: 100px;">

                        <md-select ng-model="selectedModule.type" placeholder="Module code">

                            <md-option value="1">MENU</md-option>
                            <md-option value="2" ng-selected="selected">ENTITY</md-option>
                            <md-option value="3" ng-selected="selected">FIELD</md-option>
                            <md-option value="4" ng-selected="selected">OTHER</md-option>
                        </md-select>
                    </div>
                    <div class="col-md-6">
                        <md-select ng-model="selectedModule.parentModule"
                                   placeholder="Parent module">
                            <md-option ng-value="parentModule" ng-repeat="parentModule in modules track by parentModule.id">
                                {{parentModule.description}}
                            </md-option>
                        </md-select>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 15px;margin-bottom: 15px;">
                <md-divider ></md-divider>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12" ng-include="permissionTpl"></div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 15px;margin-bottom: 15px;">
                <md-divider ></md-divider>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <md-button class="md-raised"
                           ng-click="createModule()">
                    Create
                </md-button>
            </div>
            <div class="col-md-3">
                <md-button class="md-raised"
                           ng-click="editModule()">
                    Edit
                </md-button>
            </div>
            <div class="col-md-3">
                <md-button class="md-raised"
                           ng-click="saveModule()">
                    Save
                </md-button>
            </div>
            <div class="col-md-3">
                <md-button class="md-raised"
                           ng-click="deleteModule()">
                    Delete
                </md-button>
            </div>
        </div>
    </div>
</div>
