/* line 9, ../SASS/components.sass */
.admin-menu-holder ol#tree-root {
  list-style-type: none;
  padding-left: 0;
}
/* line 12, ../SASS/components.sass */
.admin-menu-holder ol#tree-root button {
  background-color: #ddd;
  color: #333;
  position: relative;
  outline: none;
  border: 0;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  width: 30px;
  height: 30px;
  line-height: 24px;
}
/* line 25, ../SASS/components.sass */
.admin-menu-holder ol#tree-root button:hover {
  background-color: #c4c4c4 !important;
}
/* line 27, ../SASS/components.sass */
.admin-menu-holder ol#tree-root button .glyphicon {
  top: 1px;
}
/* line 29, ../SASS/components.sass */
.admin-menu-holder .list-group-item {
  line-height: 36px;
  border-radius: 0;
  height: 56px;
  transition: background-color 0.3s ease-in;
}
/* line 34, ../SASS/components.sass */
.admin-menu-holder .list-group-item:hover {
  background-color: #f4f4f4;
}
/* line 36, ../SASS/components.sass */
.admin-menu-holder .list-group-item .show-on-hover {
  display: none;
}
/* line 38, ../SASS/components.sass */
.admin-menu-holder .list-group-item:hover .show-on-hover {
  display: block;
}

/* line 50, ../SASS/components.sass */
.extend_1, .angular-ui-tree-node, .angular-ui-tree-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  line-height: 20px;
}

/* line 58, ../SASS/components.sass */
.angular-ui-tree-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: linear-gradient(45deg, #ffffff 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #ffffff 75%, #ffffff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

/* line 66, ../SASS/components.sass */
.angular-ui-tree-nodes {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 72, ../SASS/components.sass */
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 20px;
}

/* line 78, ../SASS/components.sass */
.angular-ui-tree-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
}

/* line 84, ../SASS/components.sass */
.angular-ui-tree-hidden {
  display: none;
}

/* line 87, ../SASS/components.sass */
.angular-ui-tree-handle {
  cursor: move;
  text-decoration: none;
  font-weight: 700;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;
}

/* line 96, ../SASS/components.sass */
.angular-ui-tree-drag {
  position: absolute;
  pointer-events: none;
  z-index: 999;
  opacity: 0.8;
}

/* line 103, ../SASS/components.sass */
.permissions-editor .thumbnail {
  border-radius: 4px;
  padding: 10px;
  background-color: #e0e0e0;
  border: none;
}
/* line 109, ../SASS/components.sass */
.permissions-editor .categoryPermission {
  border: none;
  background-color: #ed1c24;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 115, ../SASS/components.sass */
.permissions-editor .categoryPermission:focus {
  outline: none;
}
/* line 117, ../SASS/components.sass */
.permissions-editor .accessPermission {
  border: 1px solid #cbcbcb;
  box-shadow: none;
}
/* line 120, ../SASS/components.sass */
.permissions-editor .accessPermission.simple {
  margin-bottom: 5px;
}
/* line 122, ../SASS/components.sass */
.permissions-editor .accessPermission:focus {
  outline: none;
}
/* line 124, ../SASS/components.sass */
.permissions-editor md-content.md-default-theme {
  padding: 5px;
  border-radius: 4px;
  display: block;
}
/* line 128, ../SASS/components.sass */
.permissions-editor md-content.md-default-theme:focus {
  outline: none;
}

/* line 131, ../SASS/components.sass */
.ui-grid-render-container-body {
  background-color: #fff;
}

/* line 133, ../SASS/components.sass */
.ui-grid-pager-panel {
  background-color: #fff;
}

/* line 135, ../SASS/components.sass */
.ui-grid {
  border: none;
  background-color: #fff;
  border-radius: 4px;
}

/* line 139, ../SASS/components.sass */
.ui-grid-cell {
  border-right: 1px solid transparent;
}

/* line 141, ../SASS/components.sass */
.ui-grid-header .ui-grid-vertical-bar {
  background-color: #ececec !important;
}

/* line 143, ../SASS/components.sass */
.ui-grid-top-panel {
  background-color: #fff;
  background: #fff;
}

/* line 146, ../SASS/components.sass */
.ui-grid-header {
  border-bottom: 1px solid #cbcbcb;
}

/* line 148, ../SASS/components.sass */
.ui-grid-header-cell {
  height: 42px !important;
}

/* line 150, ../SASS/components.sass */
.ui-grid-header-cell .ui-grid-cell-contents {
  font-weight: 800;
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  padding: 13px 5px;
}

/* line 156, ../SASS/components.sass */
.ui-grid-header-cell .ui-grid-cell-contents .ui-grid-icon-up-dir {
  color: #cbcbcb;
}

/* line 158, ../SASS/components.sass */
.ui-grid-header-cell .ui-grid-cell-contents .ui-grid-icon-down-dir {
  color: #cbcbcb;
}

/* line 160, ../SASS/components.sass */
.ui-grid-header-cell .ui-grid-column-menu-button {
  top: 9px;
}

/* line 162, ../SASS/components.sass */
.ui-grid-canvas .ui-grid-row {
  height: 42px !important;
}

/* line 164, ../SASS/components.sass */
.ui-grid-canvas .ui-grid-row .ui-grid-cell {
  height: 42px !important;
}

/* line 166, ../SASS/components.sass */
.ui-grid-canvas .ui-grid-row .ui-grid-cell-contents {
  padding: 13px 5px;
}

/* line 168, ../SASS/components.sass */
.ui-grid-row-selected > div.ui-grid-cell {
  background-color: #ed1c24 !important;
  color: #fff;
}

/* line 171, ../SASS/components.sass */
.ui-grid-menu .ui-grid-menu-inner {
  background-color: #727171;
  box-shadow: none;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
}

/* line 178, ../SASS/components.sass */
.ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child) {
  border-bottom: 1px solid #5E5E5E;
}

/* line 180, ../SASS/components.sass */
.ui-grid-menu .ui-grid-menu-inner ul li {
  transition: all 0.2s ease-in;
}

/* line 182, ../SASS/components.sass */
.ui-grid-menu .ui-grid-menu-inner ul li:hover {
  box-shadow: none;
  background-color: #ed1c24;
}

/* line 185, ../SASS/components.sass */
.ui-grid-menu .ui-grid-menu-inner ul li.ui-grid-menu-item-active {
  box-shadow: none;
  background-color: #ed1c24;
}

/* line 188, ../SASS/components.sass */
.ui-grid-menu .ui-grid-menu-inner ul li:last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 191, ../SASS/components.sass */
.ui-grid-pager-panel {
  padding: 5px 0;
}

/* line 193, ../SASS/components.sass */
.ui-grid-pager-control button {
  border: none;
  background-color: #E7E7E7;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  margin-right: 5px;
}

/* line 200, ../SASS/components.sass */
.ui-grid-pager-control button:hover {
  background-color: #ed1c24;
}

/* line 202, ../SASS/components.sass */
.ui-grid-pager-control button .first-triangle {
  margin-left: 4px;
}

/* line 204, ../SASS/components.sass */
.ui-grid-pager-control button .first-triangle {
  border-color: transparent #A1A1A1 transparent transparent;
}

/* line 206, ../SASS/components.sass */
.ui-grid-pager-control button:hover .first-triangle {
  border-color: transparent #fff transparent transparent;
}

/* line 208, ../SASS/components.sass */
.ui-grid-pager-control button .first-triangle .first-bar {
  border-color: #A1A1A1;
}

/* line 210, ../SASS/components.sass */
.ui-grid-pager-control button:hover .first-triangle .first-bar {
  border-color: #fff;
}

/* line 212, ../SASS/components.sass */
.ui-grid-pager-control .first-triangle.prev-triangle {
  margin-left: 2px;
}

/* line 214, ../SASS/components.sass */
.ui-grid-pager-control button:hover .first-triangle {
  border-color: transparent #fff transparent transparent;
}

/* line 216, ../SASS/components.sass */
.ui-grid-pager-control button .last-triangle {
  border-color: transparent transparent transparent #A1A1A1;
}

/* line 218, ../SASS/components.sass */
.ui-grid-pager-control button:hover .last-triangle {
  border-color: transparent transparent transparent #fff;
}

/* line 220, ../SASS/components.sass */
.ui-grid-pager-control button .last-triangle {
  margin-left: 1px;
}

/* line 222, ../SASS/components.sass */
.ui-grid-pager-control button .last-triangle .last-bar {
  border-color: #A1A1A1;
}

/* line 224, ../SASS/components.sass */
.ui-grid-pager-control button .last-triangle.next-triangle {
  margin-left: 3px;
}

/* line 226, ../SASS/components.sass */
.ui-grid-pager-control button:hover .last-triangle .last-bar {
  border-color: #fff;
}

/* line 228, ../SASS/components.sass */
.ui-grid-pager-control input {
  text-align: center;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #f1eeee;
}

/* line 233, ../SASS/components.sass */
.ui-grid-pager-control .ui-grid-pager-max-pages-number {
  margin-top: -15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

/* line 238, ../SASS/components.sass */
.ui-grid-pager-row-count-picker select {
  text-align: center;
  width: 50px;
  border-radius: 4px;
  border: 1px solid #f1eeee;
}

/* line 243, ../SASS/components.sass */
.ui-grid-pager-count {
  font-size: 12px;
  font-weight: 600;
  color: #727171;
}
