@charset "UTF-8";
/* line 1, ../SASS/_classes.sass */
.p0 {
  padding: 0 !important;
}

/* line 3, ../SASS/_classes.sass */
.p15 {
  padding: 15px;
}

/* line 5, ../SASS/_classes.sass */
.pl0 {
  padding-left: 0 !important;
}

/* line 7, ../SASS/_classes.sass */
.pr0 {
  padding-right: 0 !important;
}

/* line 9, ../SASS/_classes.sass */
.m0 {
  margin-left: 0;
  margin-right: 0;
}

/* line 12, ../SASS/_classes.sass */
.m15 {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 15, ../SASS/_classes.sass */
.mb0 {
  margin-bottom: 0 !important;
}

/* line 17, ../SASS/_classes.sass */
.mt0 {
  margin-top: 0;
}

/* line 19, ../SASS/_classes.sass */
.mr5 {
  margin-right: 5px;
}

/* line 21, ../SASS/_classes.sass */
.mr15 {
  margin-right: 15px;
}

/* line 23, ../SASS/_classes.sass */
.mt5 {
  margin-top: 5px;
}

/* line 25, ../SASS/_classes.sass */
.mt10 {
  margin-top: 10px;
}

/* line 27, ../SASS/_classes.sass */
.mt15 {
  margin-top: 15px;
}

/* line 29, ../SASS/_classes.sass */
.mb15 {
  margin-bottom: 15px;
}

/* line 31, ../SASS/_classes.sass */
.cc {
  float: none;
  margin: 0 auto;
}

/* line 34, ../SASS/_classes.sass */
.equal, .equal > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 0 auto;
}

/* line 41, ../SASS/_classes.sass */
.dblock {
  display: block;
}

/* line 44, ../SASS/_classes.sass */
.fix-5 {
  clear: both;
  height: 5px;
  width: 5px;
}

/* line 48, ../SASS/_classes.sass */
.fix-10 {
  clear: both;
  height: 10px;
  width: 10px;
}

/* line 52, ../SASS/_classes.sass */
.fix-15 {
  clear: both;
  height: 15px;
  width: 15px;
}

/* line 56, ../SASS/_classes.sass */
.fix-20 {
  clear: both;
  height: 20px;
  width: 20px;
}

/* line 60, ../SASS/_classes.sass */
.fix-25 {
  clear: both;
  height: 25px;
  width: 25px;
}

/* line 64, ../SASS/_classes.sass */
.fix-30 {
  clear: both;
  height: 30px;
  width: 30px;
}

/* line 69, ../SASS/_classes.sass */
.tar {
  text-align: right;
}

/* line 71, ../SASS/_classes.sass */
.tal {
  text-align: left;
}

/* line 73, ../SASS/_classes.sass */
.tac {
  text-align: center;
}

/* line 8, ../SASS/theme.sass */
html, body {
  height: 100%;
}

/* line 10, ../SASS/theme.sass */
body {
  font-family: "Open Sans", sans-serif !important;
  color: #333 !important;
  font-size: 12px;
  overflow-x: hidden !important;
}

/* line 15, ../SASS/theme.sass */
a:focus {
  outline: none;
}

/* line 17, ../SASS/theme.sass */
a {
  transition: all 0.3s ease-in;
}

/* line 19, ../SASS/theme.sass */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 800;
}

/* line 22, ../SASS/theme.sass */
h1 {
  font-size: 18px;
}

/* line 24, ../SASS/theme.sass */
h2 {
  font-size: 16px;
}

/* line 26, ../SASS/theme.sass */
h3 {
  font-size: 14px;
}

/* line 28, ../SASS/theme.sass */
h4, h5, h6 {
  font-size: 12px;
}

/* line 31, ../SASS/theme.sass */
nav.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #ed1c24;
}
/* line 37, ../SASS/theme.sass */
nav.navbar a.navbar-brand {
  width: 120px;
  height: 25px;
  padding: 0;
  margin: 12px 15px 12px 0 !important;
  background-image: url("../img/logo.png");
}
/* line 43, ../SASS/theme.sass */
nav.navbar .separator {
  width: 1px;
  height: 50px;
  background-color: #e0e0e0;
  float: left;
}
/* line 48, ../SASS/theme.sass */
nav.navbar .navbar-form {
  position: relative;
  margin: 11px 10px;
  border: 0;
  padding: 0;
}
/* line 53, ../SASS/theme.sass */
nav.navbar .navbar-form input.form-control {
  border-radius: 4px;
  border: none;
  box-shadow: none;
  background-color: #e0e0e0;
  height: 28px;
  font-size: 12px;
  width: 180px;
  color: #333;
}
/* line 17, ../SASS/_mixins.sass */
nav.navbar .navbar-form input.form-control::-webkit-input-placeholder {
  color: #333;
}
/* line 20, ../SASS/_mixins.sass */
nav.navbar .navbar-form input.form-control::-moz-placeholder {
  color: #333;
}
/* line 23, ../SASS/_mixins.sass */
nav.navbar .navbar-form input.form-control:-moz-placeholder {
  color: #333;
}
/* line 26, ../SASS/_mixins.sass */
nav.navbar .navbar-form input.form-control:-ms-input-placeholder {
  color: #333;
}
/* line 63, ../SASS/theme.sass */
nav.navbar .navbar-form button {
  border: none;
  margin-right: 0;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 6px;
  line-height: 1;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
/* line 2, ../SASS/_mixins.sass */
nav.navbar .navbar-form button:before {
  font-family: "icomoon";
  content: "";
  display: inline-block;
  speak: none;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 74, ../SASS/theme.sass */
nav.navbar .navbar-form button:hover {
  color: #ed1c24;
}
/* line 76, ../SASS/theme.sass */
nav.navbar .navbar-form button:focus {
  outline: none;
}
/* line 79, ../SASS/theme.sass */
nav.navbar ul.navbar-nav a {
  font-size: 12px;
  color: #333;
}
/* line 82, ../SASS/theme.sass */
nav.navbar ul.navbar-nav a:hover, nav.navbar ul.navbar-nav a:active {
  background-color: #f1eeee;
}
/* line 84, ../SASS/theme.sass */
nav.navbar ul.navbar-nav a:hover [class^="icon-"], nav.navbar ul.navbar-nav a:hover [class*=" icon-"], nav.navbar ul.navbar-nav a:active [class^="icon-"], nav.navbar ul.navbar-nav a:active [class*=" icon-"] {
  color: #ed1c24;
}
/* line 86, ../SASS/theme.sass */
nav.navbar ul.navbar-nav a.with-custom-icon {
  padding-left: 50px;
}
/* line 88, ../SASS/theme.sass */
nav.navbar ul.navbar-nav a [class^="icon-"], nav.navbar ul.navbar-nav a [class*=" icon-"] {
  font-size: 26px;
  position: absolute;
  left: 15px;
  top: 12px;
  color: #727171;
  transition: all 0.3s ease-in;
}
/* line 95, ../SASS/theme.sass */
nav.navbar ul.navbar-nav a.with-user {
  padding-left: 60px;
}
/* line 97, ../SASS/theme.sass */
nav.navbar ul.navbar-nav a.with-user img {
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 11px;
}
/* line 102, ../SASS/theme.sass */
nav.navbar ul.navbar-nav li.active a {
  background-color: #ed1c24;
  color: #fff;
}
/* line 105, ../SASS/theme.sass */
nav.navbar ul.navbar-nav li.active a [class^="icon-"], nav.navbar ul.navbar-nav li.active a [class*=" icon-"] {
  color: #fff;
}
/* line 107, ../SASS/theme.sass */
nav.navbar ul.navbar-nav a.dropdown-toggle i.fa-angle-down {
  margin-top: 4px;
  margin-left: 7px;
  color: #333;
}
/* line 111, ../SASS/theme.sass */
nav.navbar ul.dropdown-menu {
  box-shadow: none;
  border-color: #e0e0e0;
  border-top: 1px solid transparent;
}
/* line 115, ../SASS/theme.sass */
nav.navbar ul.dropdown-menu a {
  padding: 5px 15px;
}
/* line 117, ../SASS/theme.sass */
nav.navbar ul.dropdown-menu .divider {
  margin: 3px 0;
}
/* line 119, ../SASS/theme.sass */
nav.navbar .dropdown-header {
  font-weight: 600;
  color: #ed1c24;
  padding: 5px 15px;
  padding-bottom: 2px;
}

/* line 125, ../SASS/theme.sass */
#sidebar-left {
  height: 100%;
  position: fixed;
  background-color: #e0e0e0;
  padding: 0;
  z-index: 1;
}
/* line 131, ../SASS/theme.sass */
#sidebar-left ul.main-menu {
  margin-top: 15px;
}
/* line 133, ../SASS/theme.sass */
#sidebar-left ul.main-menu li {
  min-height: 25px;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}
/* line 138, ../SASS/theme.sass */
#sidebar-left ul.main-menu li a {
  height: 25px;
  width: 100%;
  display: block;
  line-height: 25px;
  font-size: 12px;
  color: #333;
  font-weight: 600;
  position: relative;
  padding: 0;
  padding-left: 55px;
  cursor: pointer;
}
/* line 150, ../SASS/theme.sass */
#sidebar-left ul.main-menu li a i.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  height: 25px;
  width: 25px;
  background-color: #727171;
  border-radius: 4px;
  color: #e0e0e0;
  font-weight: 300;
  transition: all 0.3s ease-in;
}
/* line 163, ../SASS/theme.sass */
#sidebar-left ul.main-menu li a i.fa:before {
  font-size: 16px;
}
/* line 165, ../SASS/theme.sass */
#sidebar-left ul.main-menu li a:focus {
  background-color: transparent;
  text-decoration: none;
}
/* line 168, ../SASS/theme.sass */
#sidebar-left ul.main-menu li a:hover {
  background-color: transparent;
  text-decoration: none;
}
/* line 171, ../SASS/theme.sass */
#sidebar-left ul.main-menu li a:hover i.fa {
  background-color: #ed1c24;
}
/* line 173, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu {
  display: block;
  position: relative;
  box-shadow: none;
  border: 0;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
  border-radius: 0;
  margin-top: 15px;
  background-color: #727171;
  background-image: url("../img/dots.png");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: 25px 1px;
}
/* line 189, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu ul.main-menu {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 192, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu li {
  margin-bottom: 0;
}
/* line 194, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu a {
  color: #fff;
  position: relative;
}
/* line 197, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu a:after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ed1c24;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  top: 10px;
}
/* line 206, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu a:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #cbcbcb;
  border-radius: 50%;
  position: absolute;
  left: 22px;
  top: 8px;
  transition: all 0.3s ease-in;
}
/* line 216, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu a:hover {
  text-decoration: none;
}
/* line 218, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu a:hover:before {
  background-color: #ed1c24;
}
/* line 220, ../SASS/theme.sass */
#sidebar-left ul.main-menu li .dropdown-menu a i {
  display: none;
}

/* line 222, ../SASS/theme.sass */
.separator {
  width: 100%;
  height: 1px;
  background-color: #cbcbcb;
}

/* line 227, ../SASS/theme.sass */
#main {
  padding-top: 50px;
}

/* line 229, ../SASS/theme.sass */
#content {
  padding-top: 15px;
}
/* line 231, ../SASS/theme.sass */
#content #page-login {
  margin-left: -16.66667%;
}
/* line 234, ../SASS/theme.sass */
#content #page-configuration #prefix-width {
  width: 300px;
}
/* line 236, ../SASS/theme.sass */
#content #page-configuration #prop-width {
  width: 700px;
}
/* line 238, ../SASS/theme.sass */
#content #page-configuration .fixwidth {
  max-width: 700px;
}
/* line 240, ../SASS/theme.sass */
#content #page-configuration .custom-row {
  display: block;
  line-height: 1.8;
  margin-bottom: 5px;
}
/* line 244, ../SASS/theme.sass */
#content #page-configuration .custom-row .label {
  max-width: 350px;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
}
/* line 252, ../SASS/theme.sass */
#content #page-configuration .custom-row:last-child {
  margin-bottom: 0;
}

/* line 257, ../SASS/theme.sass */
.form-group {
  position: relative;
}
/* line 259, ../SASS/theme.sass */
.form-group label {
  font-size: 12px;
  font-weight: 400;
  padding-left: 8px;
  margin-bottom: 8px;
}
/* line 264, ../SASS/theme.sass */
.form-group .form-control {
  font-size: 12px;
  color: #898989;
  padding: 8px 9px;
  border: 1px solid #f1eeee;
  background-color: #fff;
  box-shadow: none;
  border-radius: 4px;
}
/* line 17, ../SASS/_mixins.sass */
.form-group .form-control::-webkit-input-placeholder {
  color: #999999;
}
/* line 20, ../SASS/_mixins.sass */
.form-group .form-control::-moz-placeholder {
  color: #999999;
}
/* line 23, ../SASS/_mixins.sass */
.form-group .form-control:-moz-placeholder {
  color: #999999;
}
/* line 26, ../SASS/_mixins.sass */
.form-group .form-control:-ms-input-placeholder {
  color: #999999;
}
/* line 274, ../SASS/theme.sass */
.form-group.has-success .form-control {
  box-shadow: none;
  animation: success-border 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 279, ../SASS/theme.sass */
.form-group.has-success:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 10px;
  top: 34px;
  font-size: 18px;
  color: #2ecc71;
  animation: success-icon 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 297, ../SASS/theme.sass */
.form-group.has-error .form-control {
  box-shadow: none;
  animation: error-border 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 302, ../SASS/theme.sass */
.form-group.has-error:before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 10px;
  top: 34px;
  font-size: 18px;
  color: #d64541;
  animation: error-icon 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* line 319, ../SASS/theme.sass */
textarea {
  resize: none;
}

/* line 321, ../SASS/theme.sass */
.full-width {
  width: 100%;
}

/* line 323, ../SASS/theme.sass */
i.css-icon {
  position: absolute;
  right: 15px;
  top: 32px;
  font-size: 20px;
  color: #898989;
}

/* line 329, ../SASS/theme.sass */
.inline-selects {
  display: block;
  margin-top: 7px;
  padding-left: 20px;
}
/* line 333, ../SASS/theme.sass */
.inline-selects .radio-inline, .inline-selects .checkbox-inline {
  margin-right: 15px;
  line-height: 20px;
}

/* line 336, ../SASS/theme.sass */
.form-control {
  font-size: 12px;
  color: #898989;
  padding: 8px 9px;
  border: 1px solid #f1eeee;
  background-color: #fff;
  box-shadow: none;
  border-radius: 4px;
  transition: border 0.3s ease-in;
}
/* line 17, ../SASS/_mixins.sass */
.form-control::-webkit-input-placeholder {
  color: #999999;
}
/* line 20, ../SASS/_mixins.sass */
.form-control::-moz-placeholder {
  color: #999999;
}
/* line 23, ../SASS/_mixins.sass */
.form-control:-moz-placeholder {
  color: #999999;
}
/* line 26, ../SASS/_mixins.sass */
.form-control:-ms-input-placeholder {
  color: #999999;
}

/* line 346, ../SASS/theme.sass */
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #cbcbcb;
}

/* line 350, ../SASS/theme.sass */
.input-group-addon {
  font-size: 12px;
  color: #fff;
  padding: 8px 9px;
  border: 1px solid #ed1c24;
  background-color: #ed1c24;
}

/* line 357, ../SASS/theme.sass */
table {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 0;
}
/* line 361, ../SASS/theme.sass */
table thead th {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 1px solid #cbcbcb !important;
  padding: 15px !important;
  line-height: 1 !important;
}
/* line 369, ../SASS/theme.sass */
table tbody tr td {
  padding: 15px !important;
  line-height: 1 !important;
  font-size: 12px;
}
/* line 373, ../SASS/theme.sass */
table .progress {
  margin-bottom: 0;
}
/* line 375, ../SASS/theme.sass */
table .progress.small-homepage {
  height: 10px;
}
/* line 377, ../SASS/theme.sass */
table .progress-status {
  color: #8b8a8a;
  margin-top: 10px;
}
/* line 380, ../SASS/theme.sass */
table .progress-status span {
  font-weight: 600;
}
/* line 382, ../SASS/theme.sass */
table p.row-title {
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 1;
  font-weight: 400;
}
/* line 387, ../SASS/theme.sass */
table p.small {
  color: #8b8a8a;
  margin-bottom: 0;
  line-height: 1;
}

/* line 392, ../SASS/theme.sass */
.panel {
  background-color: #f4f4f4;
  border-radius: 4px;
  border: none;
  box-shadow: none;
}
/* line 397, ../SASS/theme.sass */
.panel .panel-heading {
  background-color: #e0e0e0;
  padding: 15px 20px;
  border-bottom: 3px solid #cbcbcb;
}
/* line 401, ../SASS/theme.sass */
.panel .panel-heading h1, .panel .panel-heading h2, .panel .panel-heading h3, .panel .panel-heading h4, .panel .panel-heading h5, .panel .panel-heading h6 {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 405, ../SASS/theme.sass */
.panel.custom {
  margin-bottom: 15px;
}
/* line 407, ../SASS/theme.sass */
.panel.custom .panel-heading {
  padding: 15px 20px;
  background-color: #e0e0e0;
  border-bottom: none;
  border-radius: 4px;
}
/* line 412, ../SASS/theme.sass */
.panel.custom .panel-heading h4 {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}
/* line 416, ../SASS/theme.sass */
.panel.custom .panel-heading h4 a:hover, .panel.custom .panel-heading h4 a:active, .panel.custom .panel-heading h4 a:focus {
  text-decoration: none;
}
/* line 418, ../SASS/theme.sass */
.panel.custom .panel-body {
  background-color: #f4f4f4;
}
/* line 420, ../SASS/theme.sass */
.panel.custom .panel-body p {
  font-size: 12px;
  color: #8b8a8a;
  margin-bottom: 10px;
  line-height: 1.2;
}
/* line 425, ../SASS/theme.sass */
.panel.custom .panel-body p span {
  color: #333;
  font-weight: 600;
}
/* line 429, ../SASS/theme.sass */
.panel.visible .panel-heading {
  background-color: #727171;
  color: #fff;
}
/* line 432, ../SASS/theme.sass */
.panel table {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 0;
}
/* line 436, ../SASS/theme.sass */
.panel table thead th {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 1px solid #cbcbcb !important;
  padding: 15px !important;
  line-height: 1 !important;
}
/* line 444, ../SASS/theme.sass */
.panel table tbody tr td {
  padding: 15px !important;
  line-height: 1 !important;
  font-size: 12px;
}

/* line 448, ../SASS/theme.sass */
.page-title {
  font-size: 16px;
  margin: 20px 20px 25px 20px;
}

/* line 451, ../SASS/theme.sass */
.semititle {
  border-bottom: 1px solid #cbcbcb;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

/* line 456, ../SASS/theme.sass */
.alert {
  border-radius: 4px;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 3px;
}
/* line 463, ../SASS/theme.sass */
.alert.alert-success {
  border-color: #2ecc71;
  background-color: #e6f9ee;
  color: #1b7943;
}
/* line 467, ../SASS/theme.sass */
.alert.alert-success a {
  color: #124f2c;
  font-weight: 600;
}
/* line 470, ../SASS/theme.sass */
.alert.alert-warning {
  border-color: #f0a32a;
  background-color: #fdf5e9;
  color: #a86b0c;
}
/* line 474, ../SASS/theme.sass */
.alert.alert-warning a {
  color: #794d08;
  font-weight: 600;
}
/* line 477, ../SASS/theme.sass */
.alert.alert-info {
  border-color: #4cc3c2;
  background-color: #e5f6f6;
  color: #2a7f7e;
}
/* line 481, ../SASS/theme.sass */
.alert.alert-info a {
  color: #1e5858;
  font-weight: 600;
}
/* line 484, ../SASS/theme.sass */
.alert.alert-danger {
  border-color: #d64541;
  background-color: #fae9e9;
  color: #92221f;
}
/* line 488, ../SASS/theme.sass */
.alert.alert-danger a {
  color: #681916;
  font-weight: 600;
}

/* line 492, ../SASS/theme.sass */
.btn {
  border: none;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 10px 15px;
  line-height: 1;
}

/* line 501, ../SASS/theme.sass */
.btn-default {
  background-color: #ddd;
  color: #333;
}
/* line 504, ../SASS/theme.sass */
.btn-default:hover {
  background-color: #c4c4c4;
}

/* line 506, ../SASS/theme.sass */
.btn-primary {
  background-color: #5986E7;
  color: #fff;
}
/* line 509, ../SASS/theme.sass */
.btn-primary:hover {
  background-color: #2c66e1;
}

/* line 511, ../SASS/theme.sass */
.btn-danger {
  background-color: #d64541;
  color: #fff;
}
/* line 514, ../SASS/theme.sass */
.btn-danger:hover {
  background-color: #bc2c28;
}

/* line 516, ../SASS/theme.sass */
.btn-info {
  background-color: #4cc3c2;
  color: #fff;
}
/* line 519, ../SASS/theme.sass */
.btn-info:hover {
  background-color: #37a5a4;
}

/* line 521, ../SASS/theme.sass */
.btn-success {
  background-color: #2ecc71;
  color: #fff;
}
/* line 524, ../SASS/theme.sass */
.btn-success:hover {
  background-color: #25a25a;
}

/* line 526, ../SASS/theme.sass */
.btn-warning {
  background-color: #f0a32a;
  color: #fff;
}
/* line 529, ../SASS/theme.sass */
.btn-warning:hover {
  background-color: #d88a0f;
}

/* line 531, ../SASS/theme.sass */
.btn-xs {
  padding: 5px;
  font-weight: 600;
  border-radius: 4px;
  line-height: 1;
  font-size: 10px;
}

/* line 538, ../SASS/theme.sass */
.progress {
  background-color: #e2e1e2;
  box-shadow: none;
}

/* line 541, ../SASS/theme.sass */
.progress-bar-success {
  background-color: #2ecc71;
}

/* line 543, ../SASS/theme.sass */
.progress-bar-warning {
  background-color: #f0a32a;
}

/* line 545, ../SASS/theme.sass */
.progress-bar-info {
  background-color: #4cc3c2;
}

/* line 547, ../SASS/theme.sass */
.progress-bar-danger {
  background-color: #d64541;
}

/* line 549, ../SASS/theme.sass */
.progress-bar {
  box-shadow: none;
  font-weight: 600;
}

/* line 553, ../SASS/theme.sass */
.modal-backdrop {
  position: fixed;
}

/* line 555, ../SASS/theme.sass */
.modal-backdrop.in {
  height: 100%;
  opacity: 0.65;
}

/* line 558, ../SASS/theme.sass */
.modal-header {
  background-color: #e0e0e0;
  padding: 15px 20px;
  border-bottom: 3px solid #cbcbcb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}
/* line 565, ../SASS/theme.sass */
.modal-header h1, .modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5, .modal-header h6 {
  margin: 0;
  padding: 0;
  border: none;
  padding-left: 36px;
}
/* line 570, ../SASS/theme.sass */
.modal-header h1 i, .modal-header h2 i, .modal-header h3 i, .modal-header h4 i, .modal-header h5 i, .modal-header h6 i {
  font-size: 28px;
  position: absolute;
  left: 20px;
  top: 10px;
  color: #727171;
}
/* line 576, ../SASS/theme.sass */
.modal-header span.light {
  font-weight: 600;
}

/* line 578, ../SASS/theme.sass */
.modal-body {
  background-color: #f4f4f4;
}

/* line 580, ../SASS/theme.sass */
.modal-footer {
  background-color: #f4f4f4;
  border-top: 1px solid #cbcbcb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 589, ../SASS/theme.sass */
.nav-tabs li.active a {
  color: #ed1c24 !important;
}
/* line 591, ../SASS/theme.sass */
.nav-tabs li.active a:hover {
  color: #ed1c24 !important;
}
/* line 593, ../SASS/theme.sass */
.nav-tabs li a {
  background-color: #e0e0e0;
  color: #727171;
  font-weight: 600;
}
/* line 597, ../SASS/theme.sass */
.nav-tabs li a:hover {
  color: #ed1c24;
}

/* line 601, ../SASS/theme.sass */
.tab-content .tab-pane {
  padding: 15px 0;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ddd;
  border-top: none;
}
/* line 608, ../SASS/theme.sass */
.tab-content > .active {
  display: inline-block;
  width: 100%;
}

/* line 611, ../SASS/theme.sass */
.list-group-item {
  outline: none;
}
/* line 613, ../SASS/theme.sass */
.list-group-item:focus, .list-group-item:active {
  outline: none;
}

/* line 615, ../SASS/theme.sass */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #ed1c24;
  border-color: #ed1c24;
  outline: none;
}

/* line 620, ../SASS/theme.sass */
.statistic-box {
  height: 95px;
  position: relative;
  transition: all 0.3s ease-in;
  margin-bottom: 30px;
}
/* line 625, ../SASS/theme.sass */
.statistic-box path {
  transition: all 0.3s ease-in;
}
/* line 627, ../SASS/theme.sass */
.statistic-box.yellow {
  background-color: #f39200;
}
/* line 629, ../SASS/theme.sass */
.statistic-box.yellow path {
  fill: #cf7d00;
}
/* line 631, ../SASS/theme.sass */
.statistic-box.red {
  background-color: #e7332a;
}
/* line 633, ../SASS/theme.sass */
.statistic-box.red path {
  fill: #d52118;
}
/* line 635, ../SASS/theme.sass */
.statistic-box.blue {
  background-color: #009dc5;
}
/* line 637, ../SASS/theme.sass */
.statistic-box.blue path {
  fill: #0081a1;
}
/* line 639, ../SASS/theme.sass */
.statistic-box.green {
  background-color: #008d36;
}
/* line 641, ../SASS/theme.sass */
.statistic-box.green path {
  fill: #006928;
}
/* line 644, ../SASS/theme.sass */
.statistic-box:hover.yellow {
  background-color: #e48900;
}
/* line 646, ../SASS/theme.sass */
.statistic-box:hover.yellow path {
  fill: #c07300;
}
/* line 648, ../SASS/theme.sass */
.statistic-box:hover.red {
  background-color: #e5261c;
}
/* line 650, ../SASS/theme.sass */
.statistic-box:hover.red path {
  fill: #c81f16;
}
/* line 652, ../SASS/theme.sass */
.statistic-box:hover.blue {
  background-color: #0091b6;
}
/* line 654, ../SASS/theme.sass */
.statistic-box:hover.blue path {
  fill: #007492;
}
/* line 656, ../SASS/theme.sass */
.statistic-box:hover.green {
  background-color: #007e30;
}
/* line 658, ../SASS/theme.sass */
.statistic-box:hover.green path {
  fill: #005a22;
}
/* line 660, ../SASS/theme.sass */
.statistic-box:hover .icon {
  animation: icon 2s 6000s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 664, ../SASS/theme.sass */
.statistic-box .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
/* line 669, ../SASS/theme.sass */
.statistic-box .bg svg {
  width: 100%;
  display: block;
}
/* line 672, ../SASS/theme.sass */
.statistic-box .bg #chart, .statistic-box .bg #chart2, .statistic-box .bg #chart3, .statistic-box .bg #chart4 {
  position: absolute;
  bottom: 0;
}
/* line 675, ../SASS/theme.sass */
.statistic-box .content {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  z-index: 100;
}
/* line 681, ../SASS/theme.sass */
.statistic-box .number {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1;
}
/* line 687, ../SASS/theme.sass */
.statistic-box .title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  margin-top: 10px;
}
/* line 694, ../SASS/theme.sass */
.statistic-box .change {
  text-align: right;
  color: #fff;
}
/* line 697, ../SASS/theme.sass */
.statistic-box .change .percent {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
}
/* line 702, ../SASS/theme.sass */
.statistic-box .change .week {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 4px;
}
/* line 708, ../SASS/theme.sass */
.statistic-box .icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  line-height: 1;
}
/* line 714, ../SASS/theme.sass */
.statistic-box .icon.out {
  animation: icon-out 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 718, ../SASS/theme.sass */
.statistic-box .icon.over {
  animation: icon-over 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 2, ../SASS/_mixins.sass */
.statistic-box .icon.icon1:before {
  font-family: "icomoon";
  content: "";
  display: inline-block;
  speak: none;
  font-size: 42px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 2, ../SASS/_mixins.sass */
.statistic-box .icon.icon2:before {
  font-family: "icomoon";
  content: "";
  display: inline-block;
  speak: none;
  font-size: 42px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 2, ../SASS/_mixins.sass */
.statistic-box .icon.icon3:before {
  font-family: "icomoon";
  content: "";
  display: inline-block;
  speak: none;
  font-size: 42px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 2, ../SASS/_mixins.sass */
.statistic-box .icon.icon4:before {
  font-family: "icomoon";
  content: "";
  display: inline-block;
  speak: none;
  font-size: 42px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 730, ../SASS/theme.sass */
.videoplayer {
  border-radius: 4px;
  background-color: #cbcbcb;
  padding: 4px;
}
/* line 734, ../SASS/theme.sass */
.videoplayer img {
  width: 100%;
  border-radius: 4px;
}

@-moz-keyframes success-border {
  0% {
    border: 1px solid #f1eeee;
  }
  20% {
    border: 1px solid #2ecc71;
  }
  80% {
    border: 1px solid #2ecc71;
  }
  100% {
    border: 1px solid #f1eeee;
  }
}
@-webkit-keyframes success-border {
  0% {
    border: 1px solid #f1eeee;
  }
  20% {
    border: 1px solid #2ecc71;
  }
  80% {
    border: 1px solid #2ecc71;
  }
  100% {
    border: 1px solid #f1eeee;
  }
}
@keyframes success-border {
  0% {
    border: 1px solid #f1eeee;
  }
  20% {
    border: 1px solid #2ecc71;
  }
  80% {
    border: 1px solid #2ecc71;
  }
  100% {
    border: 1px solid #f1eeee;
  }
}
@-moz-keyframes success-icon {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes success-icon {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes success-icon {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes error-border {
  0% {
    border: 1px solid #f1eeee;
  }
  20% {
    border: 1px solid #d64541;
  }
  100% {
    border: 1px solid #d64541;
  }
}
@-webkit-keyframes error-border {
  0% {
    border: 1px solid #f1eeee;
  }
  20% {
    border: 1px solid #d64541;
  }
  100% {
    border: 1px solid #d64541;
  }
}
@keyframes error-border {
  0% {
    border: 1px solid #f1eeee;
  }
  20% {
    border: 1px solid #d64541;
  }
  100% {
    border: 1px solid #d64541;
  }
}
@-moz-keyframes error-icon {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes error-icon {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes error-icon {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes icon-over {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -10px;
  }
}
@-webkit-keyframes icon-over {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -10px;
  }
}
@keyframes icon-over {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -10px;
  }
}
@-moz-keyframes icon-out {
  0% {
    bottom: -10px;
  }
  100% {
    bottom: 10px;
  }
}
@-webkit-keyframes icon-out {
  0% {
    bottom: -10px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes icon-out {
  0% {
    bottom: -10px;
  }
  100% {
    bottom: 10px;
  }
}
