$body-background-color: #353535;
$body-color: #525252;
$body-primary-color: #436E90;

$header-background-color: #505559;
$header-color: #9C9A78;
$header-icon-color: #436E90;

$primary-background-color: #496A84;
$primary-color: #f8f8f8;
$primary-border-color: #315D80;
$primary-hover-color: #fff;
$primary-hover-background-color: #42617A;
$primary-hover-border-color: #315D80;

$default-background-color: #D8D8D8;
$default-color: #505559;
$default-border-color: #CBCBCB;
$default-hover-color: #505559;
$default-hover-background-color: #cecece;
$default-hover-border-color: #CBCBCB;

$warning-color: #f8f8f8;;
$warning-background-color: #9C9A78;
$warning-border-color: #8D8B61;
$warning-hover-color: #fff;
$warning-hover-background-color: #8F8D6C;
$warning-hover-border-color: #8D8B61;

$danger-color: #f8f8f8;
$danger-background-color: #AA8383;
$danger-border-color: #A57171;
$danger-hover-color: #fff;
$danger-hover-background-color: #9C7676;
$danger-hover-border-color: #A57171;

$success-color: #f8f8f8;
$success-background-color: #45837A;
$success-border-color: #34786E;
$success-hover-color: #fff;
$success-hover-background-color: #3D776E;
$success-hover-border-color: #34786E;

$info-color: #f8f8f8;
$info-background-color: #5D91BC;
$info-border-color: #5783A8;
$info-hover-color: #fff;
$info-hover-background-color: #5384AD;
$info-hover-border-color: #5783A8;
