$body-background-color: #436E90;
$body-color: #525252;

$primary-background-color: #6AA6D6;
$primary-color: #f8f8f8;
$primary-border-color: #5a8db6;
$primary-hover-color: #fff;
$primary-hover-background-color: #5a8db6;
$primary-hover-border-color: #5a8db6;

$default-background-color: #D8D8D8;
$default-color: #505559;
$default-border-color: #CBCBCB;
$default-hover-color: #505559;
$default-hover-background-color: #cecece;
$default-hover-border-color: #CBCBCB;

$warning-color: #f8f8f8;;
$warning-background-color: #DFD271;
$warning-border-color: #beb360;
$warning-hover-color: #fff;
$warning-hover-background-color: #beb360;
$warning-hover-border-color: #beb360;

$danger-color: #f8f8f8;
$danger-background-color: #D15E5E;
$danger-border-color: #b25050;
$danger-hover-color: #fff;
$danger-hover-background-color: #b25050;
$danger-hover-border-color: #b25050;

$success-color: #f8f8f8;
$success-background-color: #63CC9E;
$success-border-color: #54ae86;
$success-hover-color: #fff;
$success-hover-background-color: #54ae86;
$success-hover-border-color: #54ae86;

$info-color: #f8f8f8;
$info-background-color: #7BC5D3;
$info-border-color: #69a8b4;
$info-hover-color: #fff;
$info-hover-background-color: #69a8b4;
$info-hover-border-color: #69a8b4;
