<div class="container-fluid">
    <div id="roleToastr" style="position: fixed;  top: 50px; right: 0px;">
    </div>
    <div class="row">
        <div>
            <div class="text-center">
                <h3 class="page-header">Roles</h3>
            </div>
            <div class="col-md-2" style="margin-right: 0; padding-right: 0;">
                <div ng-show="!isAdd"
                     class="list-group" class="list-group" style="max-height: 500px; overflow: auto">
                    <div class="md-whiteframe-z1 list-group-item"
                         style="cursor: pointer; border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
                         ng-repeat="role in roles"
                         ng-click="selectRole(role)"
                         ng-class="{active:isSelected(role)}">
                        {{role.description}}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container  flex>
                                    <label>Role Code</label>
                                    <input ng-model="selectedRole.code" ng-readonly="isView">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <md-input-container  flex>
                                    <label>Role Description</label>
                                    <input ng-model="selectedRole.description" ng-readonly="isView">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!--todo change input date-->
                                <md-input-container  flex>
                                    <label>Valid from</label>
                                    <input  ng-model="selectedRole.validFrom" ng-readonly="isView">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                <!--todo change input date-->
                                <md-input-container  flex>
                                    <label>Valid to</label>
                                    <input  ng-model="selectedRole.validTo" ng-readonly="isView">
                                </md-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container  flex>
                                    <label>Version</label>
                                    <input ng-model="selectedRole.version" ng-readonly="isView">
                                </md-input-container>
                            </div>
                            <div class="col-md-6">
                                Active:
                                <md-switch class="md-primary" aria-label="Active"
                                           ng-model="selectedRole.active" ng-disabled="isView">
                                </md-switch>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-12" style="margin-top: 15px;margin-bottom: 15px;">
                       <md-divider ></md-divider>
                   </div>
                </div>
                <div class="row">
                    <p style="color: #858581">Module rights:</p>
                    <div class="col-md-12" ng-include="permissionTpl"></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 15px;margin-bottom: 15px;">
                        <md-divider ></md-divider>
                    </div>
                </div>
                <div class="row">
                    <!--todo align-->
                    <div class="col-md-12">
                        <md-button class="md-raised"
                                   ng-show="isView"
                                   ng-click="createRole()">
                            Create role
                        </md-button>
                        <md-button class="md-raised"
                                   ng-show="isView"
                                   ng-click="editRole()">
                            Edit
                        </md-button>
                        <md-button class="md-raised"
                                   ng-show="!isView"
                                   ng-click="saveRole()">
                            Save
                        </md-button>
                        <md-button class="md-raised"
                                   ng-show="isView || isEdit"
                                   ng-click="showConfirm($event)">
                            Delete
                        </md-button>
                        <md-button class="md-raised"
                                   ng-show="!isView"
                                   ng-click="backRole()">
                            Back
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>